/* * selects all elements */

body {
    background-color: lightgray;
    margin: 0px auto;
    width: 75%;
    
}

table, th {
    border: 2px solid black;
    margin: 5px auto 25px;
}
td {
    border: 1px solid darkslategray;
    padding: 10px;
}

table,th, td{
    border-collapse: collapse;
    
}

table{
    display: table;
}

#Tables{
    margin: 20px, auto;
}

code{
    background-color: black;
    color: chartreuse;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    width: 400px;
    /*text-align: left;
    */}

header{
    background-color: darkslategray;
    color: white;
    padding: 50px ;
    margin: 0 auto ;
    text-align: center;
}